.markdown {
  margin-top: 24px;
}

.markdown * {
  font-family: "Ubuntu Mono", 'Microsoft Jhenghei', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
  font-size: 16px;
  color: rgb(85,85,85);
}
.markdown > * {
  line-height: 1.8;
  margin-bottom: 16px;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin-top: 40px;
  font-weight: bold;
  font-size: 18px;
}


.markdown p {
  text-align: justify;
}


.markdown blockquote {
  background-color: #F5F5F5;
  padding: 20px 24px;
  border-left: 3px solid #606060;
}
.markdown blockquote p {
  line-height: 1.6;
  margin-bottom: 16px;
}
.markdown blockquote p:last-child {
  margin-bottom: 0;
}


.markdown > p > img {
  max-width: 100%;
  margin-top: 8px;
}


.markdown ul,
.markdown ol {
  padding-left: 22px;
}
.markdown > ul,
.markdown > ol {
}
.markdown ul li,
.markdown ol li {
  font-size: 16px;
  color: #999;
}
.markdown ul li {
  list-style: inside disc;
  font-size: 16px;
}
.markdown ol li {
  list-style: inside decimal;
}
.markdown ol li li {
  list-style: inside lower-latin;
}


.markdown strong {
  font-weight: bold;
  color: #FF4081;
}


.markdown em {
  font-weight: bold;
  font-style: normal;
}


.markdown a {
  color: #2196F3;
  text-decoration: underline;
  transition: color 0.4s;
}
.markdown a:hover,
.markdown a:focus {
  color: #FF4081;
}


.markdown figure {
  line-height: 1.6;
}
.markdown figure .gutter {
  text-align: right;
  padding-right: 9px;
  border-right: 1px dashed #ccc;
}
.markdown figure .code {
  padding-left: 12px;
}
.markdown figure pre span {
  font-family: "PT Mono", Inconsolata, Consolas;
  font-size: 13px;
}
.markdown .gutter pre span {
  display: inline-block;
  position: relative;
  top: 1px;
  color: #aaa;
}
.markdown code {
  display: inline-block;
  font-family: "PT Mono";
  font-size: 13px;
  color: rgb(137,89,168);
  border: 1px solid #e2e2e2;
  margin: 0px 4px;
  padding: 1px 6px;
  position: relative;
  top: -1px;
  border-radius: 2px;
  line-height: 1.6;
}